body{
    background-color: #022644;
    color: #C29EC6;
    font-family: 'Marvel', sans-serif;
  }
  
  h1 {
    color: #C29EC6;
    text-align: center;
    margin-bottom: 5%;
    border-bottom: thin solid white;
    font-family: 'New Rocker', cursive;
    
  }

   h2 {
    color: #C29EC6;
    text-align: center;
    margin-bottom: 5%;
    font-family: 'New Rocker', cursive;

  }
  

  
  img {
    
    height: 40vh;
    width: 55vw;
  }

  table {
      border: thick solid #C29EC6;
      border-radius: 10px;
  }
  tr{
    border: thin solid #C29EC6;
    border-radius: 10px;
  }
  td{
    border: thin solid #C29EC6;
    border-radius: 10px;
  }
  form{
      text-align: center;
  }

iframe{
    
    align-items: center;
    display: block;
    margin: 50px auto;
}

 .container {
     display: flex;
     align-items: center;
     justify-content: center;
 }
 
 .text{
     font-size: 20px;
     padding-left: 20px;
 }
 .image{
     flex-basis: 40%
 }
 .bgImg {
     border-radius: 10px;
     text-align: center;
    padding: 20px;
    background-image: url("https://64.media.tumblr.com/6531f779ba5e2a97986b9d1d30e6f4a5/tumblr_ph094qqNWz1qeyvpto1_500.gifv");
 }